*{
  box-sizing: border-box;
}
.App{
  width:800px;
  margin: 50px auto;
  height:400px;
  border: 3px solid;
  border-radius: 10px;
  display: flex;

}
.App h3{
  text-align: center;
text-transform: uppercase;
}
/* .body{
  display: flex;
  width: 100%;
  min-height:400px; */

/* } */
.body__left{
  width:400px;
  text-align: center;
}
.body__right{
  width: 400px;
  min-height:300px;
  border: 1px solid;
  text-align: center;
  overflow-y: auto;
}

.todo-item{
  display:flex;
  /* flex-direction: column; */
  width: 99%;
  border: 1px solid;
  /* overflow-y: auto; */
}
.todoitem__parents{
  padding:5px;
  width:80%;
}
.todoitem__parents > .todo-item__content{
  color:black;
  font-weight:bold;
}


.todo-item__btn{
  width:20%
}

